@import '../../styles/colors.scss';

// .sign-header {
//   justify-content: center !important;
// }
.sign-in-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 0 0 0;
  .sign-in_form {
    border: 1px solid $colorBorder;
    border-radius: 15px;
    padding: 50px;
    width: 50%;
  }
}
.sign-in-footer {
  text-align: center;
  padding: 30px;
  .sign-up-link {
    color: $colorBorder;
  }
}
.main-page-link {
  color: #000;
}
