<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <h1 class="header-title">CashTree</h1>
      <div class="header-links">
        <div class="header-link">
          <a href="sign-in.html" class="sign-link">Sign In</a>
        </div>
        <div class="header-link">
          <a href="sign-up.html" class="sign-link">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="main">
  <div class="salary">
    <div class="container">
      <h2 class="section-title">Income</h2>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label label-salary" for="salary-values">Salary</label>
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-success salary-enter">
            Top Up
          </button>
        </div>
      </div>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label" for="salary-values">Spin-off</label>
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-success salary-enter">
            Top Up
          </button>
        </div>
      </div>
      <div class="salary-total">
        <label class="total" for="salary-total">Earnings</label>
        <input type="text" class="salary-values" id="salary-total" />
      </div>
    </div>
  </div>
  <div class="salary">
    <div class="container">
      <h2 class="section-title">Spending</h2>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label-spending label-food" for="salary-values"
            >Food</label
          >
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-danger salary-enter">
            Top Down
          </button>
        </div>
      </div>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label-spending label-payments" for="salary-values"
            >Payments</label
          >
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-danger salary-enter">
            Top Down
          </button>
        </div>
      </div>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label-spending label-entertaiment" for="salary-values"
            >Entertainment</label
          >
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-danger salary-enter">
            Top Down
          </button>
        </div>
      </div>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label-spending label-education" for="salary-values"
            >Education</label
          >
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-danger salary-enter">
            Top Down
          </button>
        </div>
      </div>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label-spending label-credits" for="salary-values"
            >Credits</label
          >
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-danger salary-enter">
            Top Down
          </button>
        </div>
      </div>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label-spending label-transport" for="salary-values"
            >Transport</label
          >
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-danger salary-enter">
            Top Down
          </button>
        </div>
      </div>
      <div class="salary-total">
        <label class="total spent-total" for="spent-total">Spent</label>
        <input type="text" class="salary-values" id="spent-total" />
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="salary-total">
        <label class="total free-money" for="free-money">Free money</label>
        <input type="text" class="salary-values" id="free-money" />
      </div>
    </div>
  </div>
</main>
