<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  <title>Main page</title>
</head>
<body>
  <header class="header">
  <div class="container">
    <div class="header-wrapper">
      <h1 class="header-title">CashTree</h1>
      <div class="header-links">
        <p class="header-links-info" id="header-links-info"></p>
        <div class="header-links-link">
          <a href="sign-in.html" id="logoutBtn" class="header-links-link-btn">Log Out</a>
        </div>
    </div>
  </div>
</header>
<main class="main">
  <div class="salary">
    <div class="container">
      <h2 class="section-title">Income</h2>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label label-salary" for="salary-values">Salary</label>
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-success salary-enter">
            Top Up
          </button>
        </div>
      </div>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label" for="salary-values">Spin-off</label>
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-success salary-enter">
            Top Up
          </button>
        </div>
      </div>
      <div class="salary-total">
        <label class="total" for="salary-total">Earnings</label>
        <input type="text" class="salary-values" id="salary-total" />
      </div>
    </div>
  </div>
  <div class="salary">
    <div class="container">
      <h2 class="section-title">Spending</h2>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label-spending label-food" for="salary-values"
            >Food</label
          >
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-danger salary-enter">
            Top Down
          </button>
        </div>
      </div>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label-spending label-payments" for="salary-values"
            >Payments</label
          >
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-danger salary-enter">
            Top Down
          </button>
        </div>
      </div>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label-spending label-entertaiment" for="salary-values"
            >Entertainment</label
          >
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-danger salary-enter">
            Top Down
          </button>
        </div>
      </div>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label-spending label-education" for="salary-values"
            >Education</label
          >
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-danger salary-enter">
            Top Down
          </button>
        </div>
      </div>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label-spending label-credits" for="salary-values"
            >Credits</label
          >
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-danger salary-enter">
            Top Down
          </button>
        </div>
      </div>
      <div class="salary-wrapper">
        <div class="salary-input">
          <label class="label-spending label-transport" for="salary-values"
            >Transport</label
          >
          <input type="number" class="salary-values" id="salary-values" />
        </div>
        <div class="salary-button">
          <button type="button" class="btn btn-danger salary-enter">
            Top Down
          </button>
        </div>
      </div>
      <div class="salary-total">
        <label class="total spent-total" for="spent-total">Spent</label>
        <input type="text" class="salary-values" id="spent-total" />
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="salary-total">
        <label class="total free-money" for="free-money">Free money</label>
        <input type="text" class="salary-values" id="free-money" />
      </div>
    </div>
  </div>
</main>
  <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
</body>
</html>


