@import './colors.scss';

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

  &__nav {
    a {
      color: $mainColor;
      font-size: 20px;
      font-weight: 500;
      padding: 10px 30px;
      opacity: 0.7;
    }
  }

  a:hover {
    border-bottom: 1px solid;
  }
}
.main-btns {
  width: 100%;
  text-align: center;

  &-btn {
    color: $mainColor;
  }
}
