.label {
  color: rgb(113, 207, 154);
}

.label-salary {
  padding-right: 14px;
}

.total {
  font-size: 20px;
  font-weight: 500;
  color: rgb(24, 95, 55);
}

.label-spending {
  color: rgba(240, 60, 6, 0.904);
}

.label-food {
  padding-right: 63px;
}

.label-payments {
  padding-right: 31px;
}

.label-education {
  padding-right: 29px;
}
.label-credits {
  padding-right: 49px;
}

.label-transport {
  padding-right: 31px;
}

.free-maney {
  color: #185f37;
}
